.container {
    margin-top: 2rem;
    padding: 0;
    border: solid lightgray;
    border-radius: 1%;
    -moz-box-shadow: 0 0 6px black;
    -webkit-box-shadow: 0 0 6px black;
    box-shadow: 0 0 6px black;
}

.carousel-img {
    height: 500px;
    width: 25px;
    background-color: black;
    opacity: 100%;
}

.carousel-control-next-icon {
    margin-left: 150px;
    background-color: black;
}

.carousel-control-prev-icon {
    margin-right: 150px;
    background-color: black;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: black !important;
}